.list,
.listFavorite {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

